{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main page for the Xero integration                                     #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

    <div class="container">

        <div class="card">
            <!-- MAIN CARD HEADER -->
            <div class="card-header text-white bg-primary">
                <h1>Xero Functions - Not Production Yet</h1>
            </div>

            <!-- MAIN CARD BODY -->
            <div class="card-body">

                <!-- TOP ROW WITh CONFIG -->
                <div class="row">

                    <div class="col-md-6">
                        <!-- CONFIG INFO LOADED VIA HTMX -->
                        <div id="id_config"
                             hx-post="{% url "xero:xero_home_config_htmx" %}"
                             hx-trigger="load, update_config from:body"
                             hx-indicator="#spinner"
                        >
                        </div>

                    </div>

                    <div class="col-md-6">

                        <a
                            href="javascript: void(0)"
                            class="btn btn-danger"
                            hx-post="{% url "xero:xero_connect_htmx" %}"
                            hx-target="#refresh"
                            hx-indicator="#spinner"
                        >Connect to Xero</a>

                        <a
                            href="javascript: void(0)"
                            class="btn btn-success"
                            hx-post="{% url "xero:xero_refresh_keys_htmx" %}"
                            hx-target="#refresh"
                            hx-indicator="#spinner"
                        >Refresh Tokens</a>
                        <div id="refresh"></div>
                    </div>

                </div>

                <div class="row">
                    <!-- SPINNER -->
                    <div class="col-12 text-center my-4">
                        <span class="htmx-indicator" id="spinner">
                            <img style="width: 40px" src="{% static "assets/img/spinners/bars.svg" %}"/>
                        </span>
                    </div>
                </div>

                <!-- 2ND ROW WITH BUSINESS LOGIC -->
                <div class="row">

                    <div class="col-12">

                        <div class="form-inline mb-2">

                            {% if COBALT_HOSTNAME != "www.myabf.com.au" and COBALT_HOSTNAME != "myabf.com.au" %}
                                <input type="number" id="org_id" name="org_id" class="form-control mr-2" placeholder="Organisation ID">

                                <button
                                    class="btn btn-success mr-1"
                                    hx-post="{% url "xero:run_xero_api_htmx" %}"
                                    hx-target="#data"
                                    hx-include="#org_id"
                                    hx-vals='{"cmd": "create_contact"}'
                                    hx-indicator="#spinner"
                                >Create Club</button>

                                <button
                                    class="btn btn-primary mr-1"
                                    hx-post="{% url "xero:run_xero_api_htmx" %}"
                                    hx-target="#data"
                                    hx-vals='{"cmd": "create_all_contacts"}'
                                    hx-indicator="#spinner"
                                >Create All Missing Clubs</button>

                                <button
                                    class="btn btn-warning mr-1"
                                    hx-post="{% url "xero:run_xero_api_htmx" %}"
                                    hx-target="#data"
                                    hx-vals='{"cmd": "archive_all_contacts"}'
                                    hx-indicator="#spinner"
                                    onclick="return confirm('Archive ALL contacts in Xero? This cannot be undone.')"
                                >Archive All Contacts</button>
                            {% endif %}

                            <button
                                class="btn btn-info mr-1"
                                hx-post="{% url "xero:run_xero_api_htmx" %}"
                                hx-target="#data"
                                hx-vals='{"cmd": "list_contacts"}'
                                hx-indicator="#spinner"
                            >List Clubs</button>

                            {% if COBALT_HOSTNAME != "www.myabf.com.au" and COBALT_HOSTNAME != "myabf.com.au" %}
                                <button
                                    class="btn btn-info mr-1"
                                    hx-post="{% url "xero:invoice_form_htmx" %}"
                                    hx-target="#data"
                                    hx-indicator="#spinner"
                                >Create Invoice</button>
                            {% endif %}

                        </div>

                        <div id="data"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>

{% endblock content %}
