{% extends 'base.html' %}
{% load cobalt_tags %}
{% load static %}
{% load humanize %}
{% block title %} - Organisation Movement Report{% endblock %}

{% block header %}
    <style>
        th {
            position: sticky;
            top: 0;
            background-color: #f0f0f0; /* Optional: Add a background color for visibility */
            z-index: 1; /* Optional: Ensure the header stays above other content */
        }

    {#/* Optional: For the scrollable container if needed */#}
    {#div {#}
    {#    height: 300px; /* Set a fixed height */#}
    {#    overflow-y: scroll; /* Enable vertical scrolling */#}
    {#}#}
    </style>
{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->

    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}">Admin</a></li>
            <li class="breadcrumb-item"><a href="{% url "rbac:admin_menu" %}#payments">Finance</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organisation Movement Report</li>
        </ol>
    </nav>

    <!-- REPORT -->

    <div id="ignore_cobalt_save"></div>
    <div class="">
        <div class="card">
            <div class="card-header card-header-primary">
                <h1>Organisation Movement Report</h1>
            </div>
            <div class="card-body table-responsive">

            <!-- DATE AND BUTTONS -->

                <div class="card-body table-responsive table-hover">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <!-- START DATE -->
                                <label>
                                    Start Date
                                    <input type="date" name="start_date" id="id_start_date" class="form-control" value="{{ start_date|date:"Y-m-d" }}" required>
                                </label>
                                <!-- END DATE -->
                                <label>
                                    End Date
                                    <input type="date" name="end_date" id="id_end_date" class="form-control" value="{{ end_date|date:"Y-m-d" }}" required>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" name="report" class="btn btn-primary btn-sm center-text">Run Report</button>
                            <button type="submit" name="excel" class="btn btn-success btn-sm center-text">Excel Download</button>
                        </div>
                    </form>

                <!-- REPORT OUTPUT -->

                <!-- HIDE IF NO DATA -->

                    <div
                        {% if not data %}
                            style="display: none"
                        {% endif %}
                    >
                        <div style="height: 70vh; overflow-y: scroll;">

                            <table class="table table-hover table-condensed table-striped" id="id_table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>TOTALS:</th>
                                        <th class="text-right">{{ totals.total_opening_balance|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_event_entry|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_club_payment|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_club_membership|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_other|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_manual_adjustments|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_settlement|cobalt_currency_colour_short }}</th>
                                        <th class="text-right">{{ totals.total_closing_balance|cobalt_currency_colour_short }}</th>
                                    </tr>
                                    <tr>
                                        <th>Club No.</th>
                                        <th class="text-left">Organisation</th>
                                        <th class="text-right">{{ start_date|date:"d M Y" }}</th>
                                        <th class="text-right">Event Entry</th>
                                        <th class="text-right">Club Sessions</th>
                                        <th class="text-right">Club Membership</th>
                                        <th class="text-right">Other</th>
                                        <th class="text-right">Manual Adjustments</th>
                                        <th class="text-right">Settlement</th>
                                        <th class="text-right">{{ end_date|date:"d M Y" }}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for index, row in data.items %}

                                        <tr>
                                            <td>{{ row.org_id }}</td>
                                            <td class="text-left">
                                                <a href="{% url "organisations:club_menu_tab_finance_statement" club_id=index %}" target="_blank">
                                                    {{ row.name }}
                                                </a>
                                            </td>
                                            <td class="text-right">{{ row.opening_balance|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.event_entry|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.club_payment|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.club_membership|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.other|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.manual_adjustments|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.settlement|cobalt_currency_colour_short }}</td>
                                            <td class="text-right">{{ row.closing_balance|cobalt_currency_colour_short }}</td>
                                        </tr>

                                    {% endfor %}
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}
