{# Sub part of users_with_tag to just show users who have the tag already. Called by users_with_tag or if a user is#}
{# added, then this is called to refresh that part of the screen#}

{% if tagged %}

    <div class="table-responsive col-md-8">
        <table id="users_with_tab_table" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="text-left">First Name</th>
                    <th class="text-left">Last Name</th>
                    <th class="text-left">Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for person in tagged %}
                    <tr>
                        <td class="text-left">{{ person.first_name }}</td>
                        <td class="text-left">{{ person.last_name }}</td>
                        <td class="text-left">{{ person.member_type }}</td>

                        {% include "utils/htmx_confirm_modal.html" with id=person.system_number delete_item=person.first_name hx_vars=person.hx_vars hx_target="#id_panel_settings" hx_post=hx_post %}
                        <td>
                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ person.system_number }}">
                                Delete Tag
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}
    <h4>No members or contacts have this tag yet</h4>
{% endif %}

<script>
    $(document).ready( function () {

        // Initialise datatable - only show pagination if more than one page, sort by last name
        $('#users_with_tab_table').DataTable({
            drawCallback: function (settings) {
                const pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
            },
            info: false,
            searching: true,
            order: [[1, 'asc'], [0, 'asc']],
            columnDefs: [
                { orderable: true, targets: [0, 1, 2] },
                { orderable: false, targets: [3] },
            ],
        });

    });
</script>
