{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cobalt_tags %}
{% block title %} - {{ profile }}{% endblock %}
{% block content %}

    <div>
        <div class="container-fluid">
            <div class="row justify-content-center">

                {% include "accounts/profile/unregistered_public_profile_header.html" %}

            <!-- MEMBERSHIPS -->
                <div class="card mt-5">
                    <div class="card-header card-header-info">
                        <h2>Memberships</h2>
                    </div>

                    <div class="card-body">
                        <ul>
                            {% for club_membership in member_of_clubs %}
                                <li>
                                    <a href="{% url "organisations:general_org_profile" org_id=club_membership.club.id %}">
                                        {{ club_membership.club }}
                                    </a>
                                    - {{ club_membership.get_membership_status_display }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <!-- EMAIL -->
                <div id="id_email_admin"
                     hx-post="{% url 'notifications:unregistered_user_email_admin_htmx' %}"
                     hx-vars="user_id:{{ profile.id }}"
                     hx-trigger="load"
                >
                </div>


            </div>
        </div>
    </div>
{% endblock %}
