{#------------------------------------------------------------------------#}
{#                                                                        #}
{# Main page for system card view and edit                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% extends template %}

{% load system_card_tags %}

<!-- TITLE -->
{% block title %}
    - System Card
{% endblock title %}

<!-- STYLES -->
{% block header %}
    {% include "accounts/system_card/system_card_styles.html" %}
{% endblock header %}

{% block content %}

    <div id="ignore_cobalt_save"></div>

    {% if editable %}

        <form method="POST"
              hx-post="{% url "accounts:system_card_edit" system_card_name=system_card.card_name %}"
              hx-target="#save_msg"
        >
            {% csrf_token %}

            <!-- CARD NAME + FLOATING SAVE PANEL -->
            <div class="d-flex align-items-center mb-3 px-2">
                <i class="material-icons text-danger mr-2" style="font-size:1.6rem">style</i>
                <input
                    type="text"
                    name="card_new_name"
                    value="{{ system_card.card_name }}"
                    maxlength="100"
                    id="id_card_new_name"
                    class="sc-card-name-input"
                    placeholder="Card name"
                >
            </div>

            <!-- FLOATING SAVE PANEL -->
            <div class="sc-save-panel">
                <div class="card">
                    <div class="card-body p-2 d-flex flex-column" style="gap:6px">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="material-icons">save</i>
                            Save
                        </button>
                        <a target="_blank"
                           href="{% url "accounts:create_pdf_system_card" system_card_name=system_card.card_name %}"
                           class="btn btn-info w-100">
                            <i class="material-icons">print</i>
                            Print
                        </a>
                        <a class="btn btn-primary w-100"
                           href="{% url "accounts:system_card_view" user_id=user.id system_card_name=system_card.card_name %}"
                           target="_blank">
                            <i class="material-icons">visibility</i>
                            View
                        </a>
                        <div id="save_msg" class="text-success"></div>
                    </div>
                </div>
            </div>

            <div class="sc-content-wrap">
                <div id="top">
                    {% include "accounts/system_card/system_card_1_basic.html" %}
                    {% include "accounts/system_card/system_card_2_navigation.html" %}
                    {% include "accounts/system_card/system_card_3_pre_alerts.html" %}
                    {% include "accounts/system_card/system_card_4_openings.html" %}
                    {% include "accounts/system_card/system_card_5_responses.html" %}
                    {% include "accounts/system_card/system_card_6_competitive.html" %}
                    {% include "accounts/system_card/system_card_7_slam.html" %}
                    {% include "accounts/system_card/system_card_8_conventions.html" %}
                    {% include "accounts/system_card/system_card_9_defence.html" %}
                </div>
            </div>

        </form>

    {% else %}

        <!-- VIEW MODE -->
        <div id="top">
            {% include "accounts/system_card/system_card_1_basic.html" %}
            {% include "accounts/system_card/system_card_2_navigation.html" %}
            {% include "accounts/system_card/system_card_3_pre_alerts.html" %}
            {% include "accounts/system_card/system_card_4_openings.html" %}
            {% include "accounts/system_card/system_card_5_responses.html" %}
            {% include "accounts/system_card/system_card_6_competitive.html" %}
            {% include "accounts/system_card/system_card_7_slam.html" %}
            {% include "accounts/system_card/system_card_8_conventions.html" %}
            {% include "accounts/system_card/system_card_9_defence.html" %}
        </div>

    {% endif %}

{% endblock content %}

{% block footer %}

    <script>
        $(document).ready( function () {

            // If we get !c change that to club symbol, same for other symbols
            $(":input").on("keyup change", function(e) {
                let this_string = $(this).val();
                this_string = this_string.replace("!c", "♣")
                this_string = this_string.replace("!d", "♦")
                this_string = this_string.replace("!h", "♥")
                this_string = this_string.replace("!s", "♠")
                this_string = this_string.replace("!C", "♣")
                this_string = this_string.replace("!D", "♦")
                this_string = this_string.replace("!H", "♥")
                this_string = this_string.replace("!S", "♠")
                $(this).val(this_string);
            })

            // handle clicking on the opening bid in the response section
            $(".response-button").on("click", function () {
                const button_id = $(this).attr('id');
                const section_id = button_id.replace("button_","");
                const button_selector = $("#" + button_id);
                const section_selector = $("#" + section_id);

                const is_hidden = section_selector.hasClass('hidden-class');

                $(".bid").addClass("hidden-class");
                $(".response-button").removeClass("response-highlight");

                if (is_hidden) {
                    section_selector.removeClass("hidden-class");
                    button_selector.addClass("response-highlight");
                } else {
                    section_selector.addClass("hidden-class");
                    button_selector.removeClass("response-highlight");
                }
            })

        });
    </script>

{% endblock footer %}
