{#------------------------------------------------------------------------#}
{#                                                                        #}
{# This is called by the system card template tag                         #}
{#                                                                        #}
{# We only handle simple text input fields                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<input
    class="{% if min_width %}sc-field-input-narrow{% else %}sc-field-input{% endif %}"
    type="text"
    name="{{ field.name }}"
    value="{{ field.value }}"
    maxlength="{{ field.field.max_length }}"
    id="id_{{ field.name }}"
>
