{#------------------------------------------------------------------------#}
{#                                                                        #}
{# show org movement report for date range                                #}
{#                                                                        #}
{#------------------------------------------------------------------------#}
{% load cobalt_tags %}

<div class="table-responsive col-md-8">
    <table class="table table-condensed table-hover">
        <thead class="text-info">
            <tr>
                <th class="text-left">Type</th>
                <th class="text-left">Date</th>
                <th class="text-right">Amount</th>
                <th class="text-center">Breakdown</th>
            </tr>
        </thead>
        <tbody>

        <!-- OPENING BALANCE -->
            <tr>
                <td class="text-left"><b>Opening Balance</b></td>
                <td class="text-left">{{ start_date_display }}</td>
                <td class="text-right"><b>{{ opening_balance|cobalt_currency_colour }}</b></td>
                <td></td>
            </tr>

        <!-- SETTLEMENTS -->
            <tr>
                <td class="text-left">Settlements</td>
                <td class="text-left">&nbsp;</td>
                <td class="text-right">
                    {% if settlements == 0 %}
                        -
                    {% else %}
                        {{ settlements|cobalt_currency_colour }}
                    {% endif %}
                </td>
                <td>
                    <button
                        class="btn btn-sm btn-info"
                        hx-post="{% url "organisations:transaction_filter_htmx" %}"
                        hx-target="#id_filtered_transactions_below"
                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'txntype', transaction_type_selector:'Settlement'"
                        _="on click put 'Settlement' into #breakdown_title"
                    >
                        View
                    </button>
                </td>
            </tr>

        <!-- EVENT ENTRIES -->

            <tr>
                <td class="text-left">Event Entries</td>
                <td class="text-left">&nbsp;</td>
                <td class="text-right">
                    {% if event_entries == 0 %}
                        -
                    {% else %}
                        {{ event_entries|cobalt_currency_colour }}
                    {% endif %}
                </td>
                <td>
                    <button
                        class="btn btn-sm btn-info"
                        hx-post="{% url "organisations:transaction_filter_htmx" %}"
                        hx-target="#id_filtered_transactions_below"
                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'event'"
                        _="on click put 'Event Entries' into #breakdown_title"
                    >
                        View
                    </button>
                </td>
            </tr>

        <!-- CLUB SESSIONS -->

            <tr>
                <td class="text-left">Club Sessions</td>
                <td class="text-left">&nbsp;</td>
                <td class="text-right">
                    {% if club_sessions == 0 %}
                        -
                    {% else %}
                        {{ club_sessions|cobalt_currency_colour }}
                    {% endif %}
                </td>
                <td>
                    <button
                        class="btn btn-sm btn-info"
                        hx-post="{% url "organisations:transaction_filter_htmx" %}"
                        hx-target="#id_filtered_transactions_below"
{#                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'txntype', transaction_type_selector:'Club Payment'"#}
                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'session'"
                        _="on click put 'Sessions' into #breakdown_title"
                    >
                        View
                    </button>
                </td>
            </tr>

        <!-- CLUB MEMBERSHIPS -->

            <tr>
                <td class="text-left">Club Memberships</td>
                <td class="text-left">&nbsp;</td>
                <td class="text-right">
                    {% if club_memberships == 0 %}
                        -
                    {% else %}
                        {{ club_memberships|cobalt_currency_colour }}
                    {% endif %}
                </td><td>
                    <button
                        class="btn btn-sm btn-info"
                        hx-post="{% url "organisations:transaction_filter_htmx" %}"
                        hx-target="#id_filtered_transactions_below"
                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'txntype', transaction_type_selector:'Club Membership'"
                        _="on click put 'Club Membership' into #breakdown_title"
                    >
                        View
                    </button>
                </td>
            </tr>

        <!-- OTHER -->

            <tr>
                <td class="text-left">Other</td>
                <td class="text-left">&nbsp;</td>
                <td class="text-right">
                    {% if other_adjustments == 0 %}
                        -
                    {% else %}
                        {{ other_adjustments|cobalt_currency_colour }}
                    {% endif %}
                </td>
                <td>
                    <button
                        class="btn btn-sm btn-info"
                        hx-post="{% url "organisations:transaction_filter_htmx" %}"
                        hx-target="#id_filtered_transactions_below"
                        hx-vars="club_id:{{ club.id }}, show_filtered_data: 1, start_date: '{{start_date}}', end_date: '{{end_date}}', 'hx_target': '#id_filtered_transactions_below', view_type_selector: 'txntype', transaction_type_selector:'Other Artificial'"
                        _="on click put 'Other' into #breakdown_title"
                    >
                        View
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left"><b>Closing Balance</b></td>
                <td class="text-left">{{ end_date_display }}</td>
                <td class="text-right"><b>{{ closing_balance|cobalt_currency_colour }}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- TITLE FOR BREAKDOWN REPORT -->

<h2 id="breakdown_title"></h2>

<!-- PLACEHOLDER FOR BREAKDOWN REPORT -->

<div id="id_filtered_transactions_below"></div>