{#------------------------------------------------------------------------#}
{#                                                                        #}
{#  Club Admin - Edit current membership                                  #}
{#                                                                        #}
{#------------------------------------------------------------------------#}

<h3>Edit Current Membership</h3>

<p>This allows you to change the currently linked membership for this user. This should only be required in rare cases.
    Do not change this unless you are sure of what you are doing.</p>

<form
    hx-post="{% url 'organisations:club_admin_edit_member_change_current_membership_htmx' %}"
    hx-vars="club_id:{{ club.id }}, system_number:{{ member_details.system_number }}, update:1"
    hx-target="#id_panel_members"
>
    <div class="row">

        <p class="font-weight-bold pt-2" style="font-size: larger">
            Latest Membership:&nbsp; &nbsp;
        </p>
        <select class="selectpicker" data-style="btn btn-primary btn-round btn-sm" data-width="auto" id="id_new_latest_membership" name="new_latest_membership">
            {% for member_membership_type in member_membership_types %}
                <option value="{{ member_membership_type.id }}"
                        {% if member_details.latest_membership == member_membership_type %}
                            selected
                        {% endif %}
                >{{ member_membership_type.membership_type.name }} - {{ member_membership_type.get_membership_state_display }} ({{ member_membership_type.start_date }} to {{ member_membership_type.end_date }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">

        <button class="btn btn-sm btn-success" type="submit">Save</button>

        <button class="btn btn-sm btn-info"
                hx-target="#id_panel_members"
                hx-post="{% url "organisations:club_admin_edit_member_htmx" %}"
                hx-vars="club_id:{{ club.id }}, system_number: {{ system_number }}, save:'NO'"
                hx-push-url="{{ club.id }}"
        >Cancel</button>
    </div>
</form>


<script>

    jQuery(document).ready(function () {
        // enable selectpicker
        $(".selectpicker").selectpicker();
    });

</script>