{% load humanize %}
{% load cobalt_tags %}

<span id="ignore_cobalt_save" hidden></span>

<div class="card">
    <div class="card-header card-header-info">
        <h2>Members</h2>
        {% include "organisations/club_menu/members/nav_htmx.html" with selected="reports" %}
    </div>
    <div class="card-body table-responsive">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        <a href="{% url "organisations:club_menu_tab_members_report_active_csv" club_id=club.id %}" class="btn bg-primary btn-block"
                        >Current Members CSV</a>
                    </td>
                    <td class="text-left pl-5">
                        Export CSV of active members
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url "organisations:club_menu_tab_members_report_all_csv" club_id=club.id %}" class="btn bg-primary btn-block"
                        >All Members CSV</a>
                    </td>
                    <td class="text-left pl-5">
                        Export CSV of all members
                    </td>
                </tr>
                {% if show_renewal_report %}
                    <tr>
                        <td>
                            <button
                                class="btn bg-primary btn-block"
                                hx-post="{% url "organisations:club_menu_tab_members_report_renewal_htmx" %}"
                                hx-vars="club_id:{{ club.id }}"
                                hx-target="#id_panel_members"
                            >Renewal Status Report</button>
                        </td>
                        <td class="text-left pl-5">
                            Show which members have renewed, are pending, or have lapsed
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

    </div>
</div>

