<div
    hx-trigger="show_log_data from:body, click"
    hx-post="{% url "utils:command_line_utils_show_log_htmx" %}"
    hx-vals='js:{"pid": event.detail.pid, "alternate_logfile": event.detail.alternate_logfile}'
    hx-target="#id_log_viewer"
></div>

<h3>Log Output</h3>
<div class="row">
    <div class="col-12">

        {% if running %}
            Process running, auto reloading every 2 seconds...
            <div class="btn btn-sm btn-info"
                 hx-post="{% url "utils:command_line_utils_show_log_htmx" %}"
                 hx-vars='"pid":{{ pid }},"alternate_logfile":"{{ alternate_logfile }}"'
                 hx-target="#id_log_viewer"
                 hx-trigger="load delay:2s, click"
            >Refresh
        {% else %}
            <span _="on load wait 5s then transition opacity to 0 then remove me">
                Process Finished
            </span>
            <div class="row ml-5">


                <button
                    class="btn btn-info btn-sm ml-5"
                    hx-post="{% url "utils:command_line_utils_show_log_htmx" %}"
                    hx-vars='"pid":{{ pid }},"alternate_logfile":"{{ alternate_logfile }}"'
                    hx-target="#id_log_viewer"
                >Refresh Log</button>

                {% if alternate_logfile != "None" %}
                    <button
                        class="btn btn-warning btn-sm ml-5"
                        hx-post="{% url "utils:command_line_utils_show_log_htmx" %}"
                        hx-vars='"pid":{{ pid }},"alternate_logfile":"{{ alternate_logfile }}","use_alternate":1'
                        hx-target="#id_log_viewer"
                    >Alternate Log</button>
                    <a
                        class="btn btn-danger btn-sm ml-5"
                        href="{% url "utils:command_line_utils_download_csv_log" alternate_logfile=file_no_path %}"
                        target="_blank"
                    >CSV Download</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>


</div>
<textarea cols="100" rows="30" style="resize: both; font-family: 'Courier New'; font-size: small">
    {{ log }}
</textarea>

</div>