
<button
        id="id_btn_btn_{{ action }}"
        class="btn btn-sm btn-primary"
        hx-target="#id_btn_{{ action }}"


{#        If process is running don't allow button to be pressed again. Reload every second#}
        {% if running %}

                disabled
                hx-trigger="load delay:2s"
                hx-post="{% url "utils:command_line_utils_check_process_running_button_htmx" %}"
                hx-vars='"pid": "{{ pid }}", "action": "{{ action }}"'

        {% else %}

{#        if process is not running then show normal button #}

                id="id_btn_btn_{{ action }}"
                class="btn btn-sm btn-primary entry_field"
                hx-post="{% url "utils:command_line_utils" %}"
                hx-target="#id_btn_{{ action }}"
                hx-vars='"action": "{{ action }}"'
                hx-include="#id_input_{{ action }},#id_checkbox_{{ action }}"

                >
                        Run
                </button>

        {% endif %}

</button>
{% if running %}
        Running...
{% else %}
        <span _="on load wait 5s then transition opacity to 0 then remove me">
                Complete
        </span>
{% endif %}